//Подключение файлов
@import 'vars';   // переменные
@import 'fonts';  // шрифты
@import 'animation'; // анимации
@import 'mixins'; // миксины
@import 'reset';  // сброс стилей
@import 'global'; // глобальные стили всего проекта
@import 'grid'; // сетка



.header {
	height: 95vh;
	position: relative;
	background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../images/header-bg.jpg) ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	&__logo-img{
		position: absolute;
		height: 7rem;
		width: 5.6rem;
		top: 5rem;
		left: 5rem;
	}
	&__inner{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}
	&__btn{
		animation-name: btnToUp; 
		animation-duration: .5s; 
		animation-delay: .7s; 
		animation-timing-function: ease-out; 
		animation-fill-mode: backwards; // с помощью этого свойства вы определяете, как будет выглядеть элемент после того, как анимация прекратится
	}
}

.header-title{
	color: $color-white;
	&__main{
		display: block;
		font-weight: 800;
		font-size: 5rem;
		line-height: 6rem;
		letter-spacing: 1rem;
		color: $color-white;
		text-transform: uppercase;
		margin-bottom: 1rem;
		animation-name: leftToRight; // переменная анимации
		animation-duration: 1.7s; // длительность
		animation-delay: 1s; // задержка
		animation-timing-function: ease; // функция синхронизации анимации
		backface-visibility: hidden; // определяет, видно ли заднюю грань элемента, когда он повёрнут к пользователю
	}	
	&__subtitle{
		display: block;
		font-weight: 100;
		font-size: 4rem;
		line-height: 4.8rem;
		letter-spacing: .5rem;	
		animation-name: rightToLeft; 
		animation-duration: 1.7s; 
		animation-delay: 1s; 
		animation-timing-function: ease; 
		backface-visibility: hidden;
		margin-bottom: 6.5rem;	
	}
}

.about {
	padding-top: 8rem;
	margin-bottom: 20rem;
	&__btn-text{
		&:link,
		&:visited{
			font-size: 1.6rem;
			line-height: 1.9rem;
			letter-spacing: .2rem;
			font-weight: 700;
			color: $color-brown-light;
			padding: 1rem;
			border-bottom: 1px $color-brown-light solid;	
			display: inline-block;	
			transition: all .5s;	
		}
		&:hover{ 
			background-color: $color-brown-light;
			color: $color-white;
			box-shadow: $box-shadow;
			transform: translateY(-.2rem);
		}
		&:active{ 
			transform: translateY(0rem)
		
		}		
	}
	&__composition{
		position: relative;
	}
	&__composition-photo{
		width: 55%;
		box-shadow: $box-shadow;
		border-radius: .5rem;
		position: absolute;
		z-index: 10;
		transition: all .2s;
		outline-offset: 1rem; // отступ рамки от изображения
		&:hover{
			transform: scale(1.1);
			z-index: 20;
			outline: 1rem solid $color-brown-light; // анимация рамки
		}
	}
	&__composition-photo--n1{
		top: 0rem;
		left: 0rem;
	}
	&__composition-photo--n2{
		top: 2rem;
		right: 0rem;
	}
	&__composition-photo--n3{
		top: 13rem;
		left: 10rem;
	}
	&:hover &__composition-photo:not(:hover){
		transform: scale(.95)
	}		
}	

.adventure {
	padding: 21rem 0;
	background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../images/adventure-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: skewY(7deg);
	& > *{ // копирует класс секции, и выбирает всех потомков секции. Отменяем transform для карточек
		transform: skewY(-7deg);
	}	

}
.adventure-card {
	padding: 2.5rem;
	background-color: rgb($color-white, .8);
	border-radius: .5rem;
	box-shadow: $box-shadow;
	text-align: center;
	transition: all .2s;
	&:hover{
		transform: translateY(-1.5rem) scale(1.03);
	}
	&__icon{
		display: inline-block;
		font-size: 6rem;
		background: linear-gradient(90deg, #C3956A 3.65%, #A24F03 100%);
		background-clip: text; 
		color: transparent;
		margin-bottom: 3rem;
	}
}

.tour {
	padding-top: 21rem;
}
.tour-card {
	position: relative;
	height: 50rem;
	perspective: 150rem;
	&__side{
		position: absolute;
		height: 50rem;
		width: 100%;
		transition: all .7s ease-out;
		top: 0;
		left: 0;
		backface-visibility: hidden;
		box-shadow: $box-shadow;
		border-radius: .5rem;
		overflow: hidden;
	}
	&__side--back{
		background: linear-gradient(120deg, $color-brown-light, $color-brown-dark);
		transform: rotateY(180deg);
	}
	&:hover &__side--front{
		transform: rotateY(-180deg);
	}
	&:hover &__side--back{
		transform: rotateY(0deg);
	}
	&__img{
		height: 21rem;
		background-blend-mode: hard-light; // эффект наложения
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
		margin-bottom: 5rem;
	}
	&__img--one-card{
		background:  $color-brown-light url(../images/tour-card-1.jpg) center / cover no-repeat;
	}
	&__img--two-card{
		background:  $color-brown-light url(../images/tour-card-2.jpg) center / cover no-repeat;
	}
	&__img--three-card{
		background:  $color-brown-light url(../images/tour-card-3.jpg) center / cover no-repeat;
	}
	&__title {
		position: absolute;
		top: 17rem;
		right: 0;
		font-size: 2.8rem;
		letter-spacing: .2rem;
		color: $color-white;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
	}
	&__span{
		background: linear-gradient(90deg, $color-brown-light, $color-brown-dark);
		padding: 1rem 2rem .3rem 2rem;
	}
	&__span--span2{
		position: absolute;
		top: 3.4rem;
		right: 0;
		padding-bottom: 1rem;
		padding-top: 0rem;
	}
	&__list{
		text-align: center;
	}
	&__list-item{
		display: inline-block;
		font-size: 1.6rem;
		letter-spacing: .2rem;
		color: $color-gray;
		text-align: center;
		border-bottom: 1px solid $color-gray;
		&:not(:last-child){
			margin-bottom: 2rem;
		}
	}
	&__backside-wrap{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__text{
		margin-bottom: 8rem;
		color: $color-white;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: .2rem;
	}
	&__text--price{
		font-size: 1.6rem;
		font-weight: 300;
	}
	&__text--number{
		font-size: 6rem;
		font-weight: 500;
	}
	&__wrap-btn{
		text-align: center;
	}
}

.feedback {
	padding: 8rem 0;
	// position: relative;
	&__title{
		color: $color-white;
	}
}
.feedback-card {
	position: relative;
	width: 85%;
	background: rgb($color-white, 0.75);
	box-shadow: $box-shadow;
	margin: 0 auto;
	padding: 6rem;
	transform: skewX(330deg);
	& > *{
		transform: skew(-330deg);
	}
	&__img{
		background: green;
		width: 15rem;
		height: 15rem;
		float: left;
		border-radius: 100rem;
		shape-outside: circle(50% at 50% 50%); // свойство закругдения, пример на тексте
		-webkit-shape-outside: circle(50% at 50% 50%);
		margin-right: 4rem;
		overflow: hidden;
		img{
			height: 100%;
			transform: scale(1.2);
			transition: all .5s;
		}
	}
	&__name{
		font-size: 2rem;
		letter-spacing: .2rem;
		color: $color-white;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
		opacity: 0;
		transition: all .5s;
	}
	&__text{
		margin-bottom: 0rem;
	}
	&:hover &__name{
		transform: translate(-50%, -50%);
		opacity: 1;
	}	
	&:hover img{
		transform: scale(1);
		filter: blur(.3rem) brightness(70%); // настройка фильтров изображения
	}	
}


	
























@import 'media';  // медиа запросы
